[colspan="text"]{
	color: gray;
}
[colspan="wiki"]{
	text-align: center;
	color: white;
}
p{
	color: white;
}

[colspan="123"]{
	color: gray;
}

[class="first_panel"]{
color: white;
}